<h2>Add a Movie</h2>
<h2>Movie info:</h2>
<div class="form-container">
    <form action="/movie/add" method="POST">           
        <input type="text" name="title" />
        <label for="director">by</label>
        <input type="text" name="director" />
        (
        <input type="number" name="year" />
        )
        <input type="submit" val="Add" />
    </form>
</div>
