<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.year}}</td>
                    <td>{{this.director}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>